{# The main page of the application #}

{% extends "_common.njk" %}

{% block content %}
<div class="sandBox">
    <!-- Button trigger creationModal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#creationModal">
    Create content
  </button>
  <div class="characterBox">
    <!-- content generated through script -->
    <!-- <div class="characterItem">
      <div class="characterBody">
        <div class="characterInfo">
          <p class="characterName">Name</p>
          <p class="characterDescription">Short Description</p>
        </div>
        <div class="characterImg">
            <img src="#" alt="#" class="characterImgContent">
        </div>
      </div>
      <div class="characterFooter">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editionModal">
          Edit content
        </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal">
          Delete content
        </button>
      </div>
    </div> -->
  </div>

<!-- Display Modal -->
  <div class="modal fade" id="displayModal" tabindex="-1" role="dialog" aria-labelledby="displayModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="displayModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 class="displayName"></h5>
          <p class="displayShortD"></p>
          <p class="displayLongD"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Creation Modal -->
  <div class="modal fade" id="creationModal" tabindex="-1" role="dialog" aria-labelledby="creationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="creationModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label for="">Name
            <input type="text" id="newName" value="">
          </label>
          <label for="">Short description
            <textarea id="newShortD" rows="2" cols="40"></textarea>
          </label>
          <label for="">Long description
            <textarea id="newLongD" rows="2" cols="40"></textarea>
          </label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary btnCreate">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Button trigger editionModal; integrate through script
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editionModal">
    Edit content
  </button> -->

  <!-- Edition Modal -->
  <div class="modal fade" id="editionModal" tabindex="-1" role="dialog" aria-labelledby="editionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editionModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Button trigger deleteModal; integrate through script
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal">
    Delete content
  </button> -->

  <!-- Deletion Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you wish to delete this character ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Yes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
