
/*
  Import the common theme.
*/
@import "./_shared/scss/theme.scss";

/*
  If you need some CSS for any reason you can put it here.
*/

.characterBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.characterItem {
  margin: 2px 2px;
  width: 300px;
  height: auto;
  border: solid 1px black;
}

.characterBody {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
  padding: 0.5em 0.5em;
}

.characterFooter {
  margin-bottom: 0.5em;
}
