
/*
  Import the common theme.
*/
@import "./_shared/scss/theme.scss";

/*
  If you need some CSS for any reason you can put it here.
*/

.characterBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.characterItem {
  margin: 2px 2px;
}

.characterBody {
  display: flex;
  flex-direction: row;
}
